<ngx-mac-view [os]="os">
  <ngx-mac-progress-circle [os]="os" [size]="size" [color]="color"></ngx-mac-progress-circle>
</ngx-mac-view>
<ngx-mac-view [os]="os" marginTop="20px">
  <ngx-mac-box label="Code">
    &lt;ngx-mac-progress-circle [os]="'{{os}}'" [size]="'{{size}}'" [color]="'{{color}}'">&lt;/ngx-mac-progress-circle>
  </ngx-mac-box>
</ngx-mac-view>
<ngx-mac-view [os]="os">
  <ngx-mac-text-input [os]="os" label="Size" [(ngModel)]="size"></ngx-mac-text-input>
</ngx-mac-view>
<ngx-mac-view [os]="os">
  <ngx-mac-text-input [os]="os" label="Color" [(ngModel)]="color"></ngx-mac-text-input>
</ngx-mac-view>
<app-os-switch [(os)]="os" (osChange)="osChange.emit($event)"
               [(autoOs)]="autoOs" (autoOsChange)="autoOsChange.emit($event)"></app-os-switch>
